*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background: rgba(20, 20, 20, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #fafafa;
    border-radius: 10px;
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}

.header{
    background-color: #eee;
    padding: 20px;
}

.form{
    padding: 20px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    width: 100%;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    padding: 10px;
}

.form-control i{
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    position:absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form button{
    background-color: #fc0001;
    border: 2px solid #fc0001;
    color: #ffff;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

.form button:hover{
    cursor: pointer;
    border: 2px solid #9b0707;
    background-color: #9b0707;
}